.bloco-standard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;
}

.box-01,
.box-02,
.box-03 {
    /* border: 1px solid var(--cor2); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

/* .title,
.bl01,
.bl02,
.bl03,
.bl04,
.bl05,
.bl06 {
    border: 1px solid black;
} */

.title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.bl01,
.bl02,
.bl03,
.bl04,
.bl05,
.bl06 {
    width: 33.65vw;
}

.bl05 {
    text-align: center;
}

h1 {
    /* font-size: clamp(2rem, 2.5vw, 2.75rem); */
    font-size: 2.5vw;
}

h3 {
    font-family: serif;
    font-size: 1.4vw;
}

h3 span {
    font-family: serif;
}

img {
    max-width: 100%;
    flex: 1 1 200px;
}